<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.canteen.mapper.IcCardMapper">

    <select id="selectPageVo" resultType="com.smart.canteen.vo.CardVo">
        SELECT emp.name as empName,
        card.id as id,
        emp.no as empNo,
        emp.mobile as mobile,
        card.no as cardNo,
        emp.id as empId,
        emp.origination_name as originationName,
        card.type as cardType,
        card.deposit as deposit,
        card.current_balance as currentBalance,
        card.status as status,
        card.account_status as accountStatus,
        card.validity_time as validityTime
        FROM employee as emp,
        ic_card as card
        where card.employee_id = emp.id
        and card.deleted = 0
        <if test="b == true">
            and card.status = 1
        </if>
        <if test="search.empName != null and search.empName != '' ">
            and emp.name = #{search.empName}
        </if>
        <if test="search.empNo != null and search.empNo != '' ">
            and emp.no = #{search.empNo}
        </if>
        <if test="search.mobile != null and search.mobile != '' ">
            and emp.mobile = #{search.mobile}
        </if>
        <if test="search.cardStatus != null and search.cardStatus != '' ">
            and card.status = #{search.cardStatus}
        </if>
        <if test="search.cardNo != null and search.cardNo != '' ">
            and card.no = #{search.cardNo}
        </if>
        <if test="search.accountStatus != null and search.accountStatus != '' ">
            and card.account_status = #{search.accountStatus}
        </if>
        <if test="search.start != null ">
            and emp.create_time <![CDATA[ >= ]]> #{search.start}
        </if>
        <if test="search.end != null ">
            and emp.create_time <![CDATA[ <= ]]> #{search.end}
        </if>
        order by emp.status, emp.create_time desc
    </select>


    <select id="getByCardId" resultType="com.smart.canteen.vo.CardUserVo">
        select emp.name             as empName,
               card.id              as cardId,
               emp.id               as empId,
               emp.no               as empNo,
               emp.mobile           as mobile,
               emp.id_card          as idCard,
               card.current_balance as currentBalance,
               card.validity_time   as validityTime,
               emp.origination_name as orgName
        from employee as emp,
             ic_card as card
        where card.employee_id = emp.id
          and card.deleted = 0
          and card.id = #{cardId}
        limit 0 ,1
    </select>
</mapper>
